/* You can add global styles to this file, and also import other style files */
table tr th{
    text-align: center; 
 }

table {
  width: -webkit-fill-available;
}

 table, th, td {
  border: 1px solid black;
  text-align: center; 
}
 
 .table {
    margin: auto;
    width: 50% !important; 
 }

 .wellTable {
   margin: auto;
   width: 100% !important;
 }

 .wellTable tbody{
   color: red;
 }

 .wellESPType {
   background-color: pink !important;
   color: black;
 }